{% extends "AppBundle::layout.html.twig" %}
{% block body%}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-offset-2 col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">view_list</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">New category</h4>
                        {{form_start(form)}}
                        <br>
                        <div class="form-group label-floating is-empty">
                            <label class="control-label">Category title</label>
                            {{form_widget(form.title,{"attr":{"class":"form-control"}})}}
                            <span class="validate-input">{{form_errors(form.title)}}</span>
                        </div>
                        <span class="pull-right"><a href="{{path("app_category_index")}}" class="btn btn-fill btn-yellow"><i class="material-icons">arrow_back</i> Cancel</a>{{form_widget(form.save,{attr:{"class":"btn btn-fill btn-success"}})}}</span>
                        {{form_end(form)}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}