{% extends "WebBundle::layout.html.twig" %}
{% set subtitle =  "My List" %}
{% set og_description =  "My List" %}
{% set og_type =  "null" %}
{% set og_image =  "null" %}
{% set keywords =  "null" %}
{% block title %}My List{% endblock %}
{% block body %}
	<div class="row content-section">
			{% if channels|length != 0 %}
			<div class="col-sm-12 col-md-12 ">
				<a class="title-more">
					<span>My Tv channels</span>
				</a>
			</div>
			<div class="flix-carousel" >
				<button  class="prev_btn"><i class="fa fa-chevron-left"></i></button>
				<button  class="next_btn"><i class="fa fa-chevron-right"></i></button>
				<div class="flix-scroll-x">
					{% for channel in channels %}
						<a class="channel" href="{{path("wep_channel_view",{id:channel.channel.id,slug:channel.channel.slug})}}" >
							<img src="{{asset(channel.channel.media.link|imagine_filter('channel_thumb'))}}"/>
						</a>
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if poster_size > 0 %}
				<div class="col-sm-12 col-md-12 ">
					<a class="title-more">
						<span>My Movies / Tv Series</span>
					</a>
				</div>
				{% for poster in posters %}
					{% if poster.poster.type == "movie" %}
						{{ include('WebBundle:Movie:movie.html.twig',{poster:poster.poster,class:"col-3 col-md-2 col-xxl-2"}) }}
					{% else %}
						{{ include('WebBundle:Serie:serie.html.twig',{poster:poster.poster,class:"col-3 col-md-2 col-xxl-2"}) }}
					{% endif %}
				{% endfor %}
				<div class="filter-section">
					<div class=" float-right">
						{{ knp_pagination_render(posters) }}
					</div>
				</div>
		{% endif %}
		{% if poster_size ==  0  and channels|length == 0 %}
		<div class="empty-box">
			<img src="{{asset('web/img/empty.svg')}}">
			<h3>Empty list</h3>
			<p>start adding some content in your list</p>
		</div>
		{% endif %}
	</div>
{% endblock %}