{% extends "WebBundle::login.html.twig" %}
{% set subtitle =   "Subscription"  %}
{% set og_description =  "Subscription" %}
{% set og_type =  "null" %}
{% set og_image =  "null" %}
{% set keywords =  "null" %}
{% block body %}

<div class="tab-title">Subscribe now !</div>

<div id="subscribe-plan">
	<div class="subscribe-title" id="selected_pack">
		<span>1</span>
		<h5>{{subscription.pack}}</h5>
		<span class="fas fa-check float-right"></span>
		<span class="float-right price-step-1">{{subscription.price}} {{subscription.currency}}</span>
	</div>
	<div class="subscribe-title" id="selected_pack">
		<span>2</span>
		<h5>Payment Method </h5>
		<span class="fas fa-check float-right"></span>
		{% if subscription.method == "manual" %}
			<span class="float-right price-step-1"><i class='fas fa-money-check-alt'></i> Manual / Cash</span>
		{% elseif subscription.method == "card" %}
			<span class="float-right price-step-1"><i class='far fa-credit-card'></i> Credit card</span>
		{% elseif subscription.method == "paypal" %}
			<span class="float-right price-step-1"><i class='fab fa-paypal'></i> PayPal</span>
		{% endif %}
	</div>
	<div class="subscribe-title">
		<span>3</span>
		<h5>Payment {{subscription.status|capitalize}}</h5>
		{% if subscription.status == "unpaid" %}
			<span class="float-right price-step-1"><i class="fas fa-exclamation-circle"></i> UnPaid</span>
		{% elseif subscription.status == "pendding" %}
			<span class="float-right price-step-1"><i class="fas fa-hourglass-half"></i> Pendding</span>
		{% elseif subscription.status == "paid" %}
			<span class="float-right price-step-1"><i class='fas fa-check'></i> Paid</span>
		{% endif %}
	</div>
	<center>
	<span class="paypal-redirect">
		{% if subscription.status == "unpaid" %}
			<i class="fas fa-exclamation-circle"></i>
			<p>The payment not received, Please contact our support team</p>
		{% elseif subscription.status == "pendding" %}
			<i class="far fa-check-circle"></i>
			<p>Thank you for your payment, we will notify you when your payment is complete.</p>
		{% elseif subscription.status == "paid" %}
			<i class="far fa-check-circle"></i>
			<p>Congratulations you are now subscribed</p>
		{% endif %}
		<p><a href="{{path("web_home_index")}}"> <i class="fas fa-home"></i> Go Home</a></p>


	</span>
	</center>
</div>

{% endblock %}