{% extends 'AppBundle::layout.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
	<div class="container-fluid">
		<div class="row">		
			<div class="col-md-3">
			<div class="card">
                    <div class="tab-moivie tab-channel">
                        <a href="{{path("app_home_websettings")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">web</i> Web Settings</a>
                        <a href="{{path("app_home_settings")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">phonelink_setup</i> Mobile Settings</a>
                        <a href="{{path("app_home_ads")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">show_chart</i> Ads Settings</a>
                        <a href="{{path("app_home_webads")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">show_chart</i>Web Ads Settings</a>
                        <a href="{{path("app_home_payment")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">payment</i> Payment Settings</a>
                        <a href="{{path("app_home_edit_privacypolicy")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">privacy_tip</i> Privacy Policy</a>
                        <a href="{{path("app_home_refundpolicy")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">attach_money</i> Refund Policy</a>
                        <a href="{{path("app_home_faq")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">live_help</i> FAQ Page</a>
                        <a href="{{path("admin_change_password")}}" class="btn btn-tab-movie-active col-md-12"><i class="material-icons">lock</i> Change password</a>
                    </div>
			</div>
		</div>
		<div class="col-sm-9">
			<div class="card ">
				<div class="card-header card-header-icon" data-background-color="rose">
					<i class="material-icons">lock</i>
				</div>
				<div class="card-content">
					<h4 class="card-title">Change Password</h4>
					<br>


					{{ form_start(form, { 'action': path('admin_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
					<div class="form-group label-floating is-empty">
						{{form_label(form.current_password)}}
						{{ form_widget(form.current_password,{attr:{"class":"form-control"}})}}
						{{ form_errors(form.current_password)}}
					</div>
					<div class="form-group label-floating is-empty">
						{{form_label(form.plainPassword.first)}}
						{{ form_widget(form.plainPassword.first,{attr:{"class":"form-control"}})}}
						{{ form_errors(form.plainPassword.first)}}
					</div>
					<div class="form-group label-floating is-empty">
						{{form_label(form.plainPassword.second)}}
						{{ form_widget(form.plainPassword.second,{attr:{"class":"form-control"}})}}
						{{ form_errors(form.plainPassword.second)}}
					</div>
					<button  class="btn btn-raised btn-primary pull-right">{{ 'Change password'|trans }}</button>
					{{ form_end(form) }}
					
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}