{% extends "AppBundle::layout.html.twig" %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="tab-moivie tab-channel">
                        <a href="{{path("app_home_settings")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">phonelink_setup</i> Mobile Settings</a>
                        <a href="{{path("app_home_websettings")}}" class="btn btn-tab-movie-active col-md-12"><i class="material-icons">web</i> Web Settings</a>
                        <a href="{{path("app_home_ads")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">show_chart</i> Ads Settings</a>
                        <a href="{{path("app_home_webads")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">show_chart</i>Web Ads Settings</a>
                        <a href="{{path("app_home_payment")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">payment</i> Payment Settings</a>
                        <a href="{{path("app_home_edit_privacypolicy")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">privacy_tip</i> Privacy Policy</a>
                        <a href="{{path("app_home_refundpolicy")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">attach_money</i> Refund Policy</a>
                        <a href="{{path("app_home_faq")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">live_help</i> FAQ Page</a>
                        <a href="{{path("admin_change_password")}}" class="btn btn-tab-movie col-md-12"><i class="material-icons">lock</i> Change password</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="rose">
                        <i class="material-icons">settings</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Settings</h4>
                        {{form_start(form)}}
                        <br>
                        <div class="panel-body">
                            <label class="panel-title">TheMoviedb API</label>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">TheMoviedb API key</label>
                                {{form_widget(form.themoviedbkey,{"attr":{"class":"form-control"}})}}
                            </div>
                            <span class="validate-input">{{form_errors(form.themoviedbkey)}}</span>
                            <div class="form-group label-floating is-empty">
                                <label class="control-label">TheMoviedb API language code</label>
                                {{form_widget(form.themoviedblang,{"attr":{"class":"form-control"}})}}
                            </div>
                            <span class="validate-input">{{form_errors(form.themoviedblang)}}</span>
                        </div>
                        <br>
                        <div class="panel-body">
                            <label class="panel-title">Web Site</label>
                            <div class="form-group label-floating">
                                <label class="control-label">Web site title : </label>
                                {{form_widget(form.title,{"attr":{"class":"form-control"}})}}
                                <span class="validate-input">{{form_errors(form.title)}}</span>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Web site sub-title : </label>
                                {{form_widget(form.subtitle,{"attr":{"class":"form-control"}})}}
                                <span class="validate-input">{{form_errors(form.subtitle)}}</span>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Web site description : </label>
                                {{form_widget(form.sitedescription,{"attr":{"class":"form-control"}})}}
                                <span class="validate-input">{{form_errors(form.sitedescription)}}</span>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">Web site keywords : </label>
                                {{form_widget(form.sitekeywords,{"attr":{"class":"form-control"}})}}
                                <span class="validate-input">{{form_errors(form.sitekeywords)}}</span>
                            </div>
                            <div class="form-group label-floating">
                                <label class="control-label">add html to header : </label>
                                {{form_widget(form.header,{"attr":{"class":"form-control"}})}}
                                <span class="validate-input">{{form_errors(form.header)}}</span>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="fileinput fileinput-new text-center" style="    width: 100%;" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="    width: 100%;">
                                            {% if form.vars.value.logo != null %}
                                                <img  id="img-preview-1" src="{{asset(form.vars.value.logo.link)}}"  width="100%">
                                            {% else %}
                                                <img  id="img-preview-1" src="{{asset("img/image_placeholder.jpg")|imagine_filter('actor_thumb')}}"  width="100%">  
                                            {% endif %}
                                            <a href="#" class="btn btn-rose btn-round btn-select-1"><i class="material-icons">image</i> Select image </a>
                                        </div>
                                        {{form_widget(form.file,{"attr":{"class":"file-hidden input-file-1 img-selector-1","style":"    display: none;"}})}}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <span class="validate-input">{{form_errors(form.file)}}</span>
                                    <div class="fileinput fileinput-new text-center" style="    width: 100%;" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail" style="    width: 100%;">
                                            {% if form.vars.value.favicon != null %}
                                                <img  id="img-preview" src="{{asset(form.vars.value.favicon.link)}}"  width="100%">
                                            {% else %}
                                                <img  id="img-preview" src="{{asset("img/image_placeholder.jpg")|imagine_filter('actor_thumb')}}"  width="100%">
                                            {% endif %}
                                            <a href="#" class="btn btn-rose btn-round btn-select"><i class="material-icons">image</i> Select image </a>
                                        </div>
                                        {{form_widget(form.favfile,{"attr":{"class":"file-hidden input-file img-selector","style":"    display: none;"}})}}
                                    </div>
                                </div>
                            </div>
                            <span class="validate-input">{{form_errors(form.favfile)}}</span>
                        </div>
                    </div>
                    <span class="pull-right"><a href="{{path("app_category_index")}}" class="btn btn-fill btn-yellow"><i class="material-icons">arrow_back</i> Cancel</a>{{form_widget(form.save,{attr:{"class":"btn btn-fill btn-rose"}})}}</span>
                    {{form_end(form)}}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}