{% extends "AppBundle::layout.html.twig" %}
{% block body%}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
			<div class="row">
				<div class="col-md-4">
					<a href="{{path("app_pack_index")}}" class="btn  btn-lg btn-warning btn-block"><i class="material-icons" style="font-size: 30px;">refresh</i> Refresh</a>
				</div>
				<div class="col-md-4">
					<a class="btn btn btn-lg btn-yellow btn-block"><i class="material-icons" style="font-size: 30px;">label</i> {{packs|length}} packs</a>
				</div>
				<div class="col-md-4">
					<a href="{{path("app_pack_add")}}" class="btn btn-rose btn-lg pull-right add-button btn-block" title=""><i class="material-icons" style="font-size: 30px;">add_box</i> NEW PACK </a>
				</div>
			</div>
				<div class="row">
					{% for pack in packs %}

						<div class="col-md-4">
							<div class="card card-category">
								<div class="card-content" >
									<i class="material-icons" >local_mall</i>
									<br>
									<span class="label-lang">{{pack.title}}</span>
								</div>
								<div class="card-footer" style="    text-align: center;">
									<a href="{{path("app_pack_edit",{"id":pack.id})}}" rel="tooltip" data-placement="left" class=" btn btn-primary btn-xs btn-round pull-right" data-original-title="Edit">
										<i class="material-icons">edit</i>
									</a>
									<a href="{{path("app_pack_delete",{"id":pack.id})}}" rel="tooltip" data-placement="left" class=" btn btn-danger btn-xs btn-round pull-right" data-original-title="Delete">
										<i class="material-icons">delete</i>
									</a>
								</div>
							</div>
						</div>
					{% else %}
						<div class="col-md-12">
							<div class="card">
								<div class="card-content">
									<br>
									<br>
									<center><img src="{{asset("img/bg_empty.png")}}"  style="width: auto !important;" =""></center>
									<br>
									<br>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
		
	{% endblock%}